* {
    margin: 0;
    padding: 0;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

.home {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1350px;
    background-color: rgba(0, 0, 0, 0.1);
}

.home__row {
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.home__image{
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

/* .home__video {
    width: 100%;
    height: 100vh;
    z-index: -1;
    margin-bottom: -70px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4)); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.content {
    position: absolute;
    color: #fff;
    bottom: 13%;
    left: 4%;
    /* width: 100%;
    height: 100%;
    top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: White; 
}

.content p {
    font-size: 2.5rem;
    font-weight: 600;
}

.content h1 {
    font-size: 5rem;
    line-height: 80px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(./back.png);
    -webkit-background-clip: text;
    background-position: 0 0 ;
    animation: back 20s linear infinite;

}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

.content h3 {
    font-size: 3rem;
    font-weight: 400;
}

.content .row {
    display: flex;
    align-items: cen;
    flex-wrap: wrap;
    margin-top: 10px;
}

.row a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
    display: flex;
}

.row a span {
    font-size: 1rem;
    line-height: 15px;
    margin-left: 9px;
}

.social__links {
    position: absolute;
    right: 5%;
    bottom: 8%;
}

.social__links a {
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
    display: block;
    margin: 25px 5px;

}

.social__links a i {
    font-size: 1.24rem;
    width: 20px;
    transition: color .4s ease;
    margin-left: 1.6px;
    margin-top: 1.5px;
    

}
.social__links a:hover i {
    color: aqua;
  }
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
} */